<div class="row paginations home">
  <div class="col-md-12">
    <ul class='page-numbers'>
      <li><span class='page-numbers current'>1</span></li>
      <li><a class='page-numbers' href='http://qaengine.enginethemes.com/?page=2'>2</a></li>
      <li><a class="next page-numbers" href="http://qaengine.enginethemes.com/?page=2">></a></li>
    </ul>
  </div>
</div><!-- END MAIN-PAGINATIONS -->