<div class="row q-filter-waypoints collapse" id="q_filter_waypoints">
  <div class="col-md-2 col-xs-2">
    <button type="button" data-toggle="modal" class="action ask-question">
      <i class="fa fa-plus"></i> ASK A QUESTION	            </button>
  </div>
  <div class="col-md-8 col-sm-10 col-xs-10">
    <div class="row">
      <div class="col-md-2 hidden-xs hidden-sm">
												<span class="q-f-title">
							All Questions						</span>
      </div><!-- END TITLE -->
      <div class="col-md-5 col-sm-6 col-xs-6">
        <ul class="q-f-sort">
          <li>
            <a class="active" href="http://qaengine.enginethemes.com/">
              Latest		                        </a>
          </li>
          <li>
            <a class="" href="http://qaengine.enginethemes.com/?sort=vote">
              Votes		                        </a>
          </li>
          <li>
            <a class="" href="http://qaengine.enginethemes.com/?sort=unanswer">
              Unanswered		                        </a>
          </li>
        </ul><!-- END FILTER -->
      </div>
      <div class="col-md-5 col-sm-6 col-xs-6 categories-wrapper">
        <div class="select-categories-wrapper fixed">
          <span class="label-filter">Filter by</span>
          <div class="select-categories">
            <select class="select-grey-bg chosen-select" id="move_to_category">
              <option>Filter by category</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/technology/">
                Technology		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/science/">
                Science		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/business/">
                Business		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/movie/">
                Movie		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/traval/">
                Travel		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/music/">
                Music		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/food/">
                Food		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/education/">
                Education		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/design/">
                Design		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/cooking/">
                Cooking		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/photography/">
                Photography		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/marketing/">
                Marketing		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/mobile/">
                Mobile		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/computer/">
                Computer		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/fashion/">
                Fashion		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/history/">
                History		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/programmer/">
                Programmer		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/dictionary/">
                Dictionary		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/bloging/">
                Bloging		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/software/">
                Software		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/hardware/">
                Hardware		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/magazines/">
                Magazines		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/seo/">
                SEO		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/health/">
                Health		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/financial/">
                Financial		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/security/">
                Security		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/sports/">
                Sports		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/automotive/">
                Automotive		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/board-games/">
                Board Games		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/b2b/">
                B2B		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/beauty-products/">
                Beauty Products		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/camps/">
                Camps		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/banking/">
                Banking		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/backup-and-data-recovery/">
                Backup and Data Recovery		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/biography/">
                Biography		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/books/">
                Books		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/accessories/">
                Accessories		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/accounting/">
                Accounting		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/advice/">
                Advice		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/arts/">
                Arts		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/awards/">
                Awards		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/car/">
                Car		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/chemistry/">
                Chemistry		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/childcare/">
                Childcare		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/classifieds/">
                Classifieds		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/cleaning/">
                Cleaning		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/climbing/">
                Climbing		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/clothing/">
                Clothing		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/comics/">
                Comics		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/conferences/">
                Conferences		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/consulting/">
                Consulting		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/data-formats/">
                Data formats		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/dentistry/">
                Dentistry		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/databases/">
                Databases		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/directories/">
                Directories		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/download/">
                Download		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/ebook/">
                Ebook		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/e-commerce/">
                E-Commerce		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/economics/">
                Economics		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/emulators/">
                Emulators		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/entertainment/">
                Entertainment		</option>
            </select>
          </div>
        </div><!-- END SELECT CATEGORIES -->
        <div class="number-of-questions-wrapper fixed">
          <div class="number-of-questions">
            <select id="filter-numbers" class="select-grey-bg chosen-select">
              <option  value="http://qaengine.enginethemes.com/?numbers=20">20</option>
              <option  value="http://qaengine.enginethemes.com/?numbers=15">15</option>
              <option selected value="http://qaengine.enginethemes.com/?numbers=12">12</option>
              <option  value="http://qaengine.enginethemes.com/?numbers=10">10</option>
              <option  value="http://qaengine.enginethemes.com/?numbers=5">5</option>
            </select>
          </div>
        </div><!-- END POSTS PER PAGE -->
      </div>
    </div>
  </div>
</div>