<div class="row select-category single-head">
    <div class="col-md-2 col-xs-2">
                <span class="back">
                    <i class="fa fa-angle-double-left"></i> <a href="<%= root_path %>">Home</a>
                </span>
    </div>
    <div class="col-md-8 col-xs-8">
      <h1 itemprop="name">What is business??</h1>
    </div>
  </div><!-- END SELECT-CATEGORY -->
  <div id="question_content" class="row question-main-content question-item" data-id="2341">
    <!-- Vote section -->
    <div class="col-md-2 col-xs-2 vote-block">
      <!-- vote group -->
      <ul>
        <!-- vote up -->
        <li title="" data-original-title="This is useful.">
          <a data-container="body" data-toggle="popover" data-content="You must have 5 points to vote up." href="javascript:void(0)" data-name="vote_up" class="action vote vote-up img-circle " data-original-title="" title="">
            <i class="fa fa-chevron-up"></i>
          </a>
        </li>
        <!--// vote up -->

        <!--vote point -->
        <li data-original-title="" title="">
          <span itemprop="upvoteCount" class="vote-count">0</span>
        </li>
        <!--// vote point -->
        <!-- vote down -->
        <li title="" data-original-title="This is not useful">
          <a data-container="body" data-toggle="popover" data-content="You must have 500 points to vote down." href="javascript:void(0)" data-name="vote_down" class="action vote vote-down img-circle " data-original-title="" title="">
            <i class="fa fa-chevron-down"></i>
          </a>
        </li>
        <!--// vote down -->
        <li class="single-question-pump" data-original-title="" title="">
        </li>
      </ul>
      <!--// vote group -->
    </div>            <!--// Vote section -->
    <div class="col-md-9 col-xs-9 q-right-content">

      <!-- admin control -->
      <ul class="post-controls">
        <!-- Follow Action -->
        <li>
          <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Follow" data-name="follow" class="action follow">
            <i class="fa fa-plus-square"></i>
          </a>
        </li>
        <!-- // Follow Action -->
        <!-- report Action -->
        <!--// Report Action -->
      </ul>
      <!--// admin control -->
      <!-- question tag -->
      <div class="top-content">
        <span class="answered"><i class="fa fa-check"></i> Answered</span>
        <ul class="question-tags">
          <li>
            <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/business-2/ ">
              business                                </a>
          </li>
          <li>
            <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/technology-2/ ">
              technology                                </a>
          </li>
        </ul>

      </div>
      <!--// question tag -->
      <div class="clearfix"></div>

      <div itemprop="text" class="question-content">
        <p>I want to know about business process.</p>
        <p>&nbsp;</p>
      </div>

      <div class="row">
        <div class="col-md-8 col-xs-8 question-cat" data-user="11">
          <a href="http://qaengine.enginethemes.com/blog/member/admindemo/">
                            <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                <span class="author-avatar">
                                    <img itemprop="image" src="http://1.gravatar.com/avatar/3743112a070d24fe4dbd5cb39d6a5e9e?s=30&amp;d=mm&amp;r=G" class="avatar" alt="">                                </span>
                                <span itemprop="name" class="author-name">Engine Admin Demo</span>
                            </span>
          </a>
          <span title="90" class="user-badge" style="background-color:#04aad4;">Train</span>
          <span class="question-time" itemprop="dateCreated" datetime="on July 14, 2016">
                            Asked on July 14, 2016 in                        </span>
          <span class="question-category">
                                            <a href="http://qaengine.enginethemes.com/blog/question-category/business/">Business.</a>
                                        </span>                    </div>
        <div class="col-md-4 col-xs-4 question-control">
          <ul>
            <li>
              <a class="share-social" href="javascript:void(0)" data-toggle="popover" data-placement="top" data-container="body" data-content="<ul class=&quot;socials-share&quot;><li><a href=&quot;https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fqaengine.enginethemes.com%2Fblog%2Fquestion%2Fwhat-is-business%2F&amp;t=What is business??&quot; target=&quot;_blank&quot; class=&quot;btn-fb&quot;><i class=&quot;fa fa-facebook&quot;></i></a></li><li><a target=&quot;_blank&quot; href=&quot;http://twitter.com/share?text=What is business??&amp;url=http%3A%2F%2Fqaengine.enginethemes.com%2Fblog%2Fquestion%2Fwhat-is-business%2F&quot; class=&quot;btn-tw&quot;><i class=&quot;fa fa-twitter&quot;></i></a></li><li class=&quot;ggplus&quot;><a target=&quot;_blank&quot;  href=&quot;https://plus.google.com/share?url=http%3A%2F%2Fqaengine.enginethemes.com%2Fblog%2Fquestion%2Fwhat-is-business%2F&quot; class=&quot;btn-gg&quot;><i class=&quot;fa fa-google-plus&quot;></i></a></li></ul>" data-html="true" data-original-title="" title="">
                Share <i class="fa fa-share"></i>
              </a>
            </li>
            <!-- <li class="collapse">
                <a href="javascript:void(0)">
                    Report <i class="fa fa-flag"></i>
                </a>
            </li> -->
            <li>
              <a href="#container_2341" class="show-comments ">
                Comment(0)  <i class="fa fa-comment"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="comments-container collapse" id="container_2341">
        <div class="comments-wrapper">
        </div>
        <a data-container="body" data-toggle="popover" data-content="You must have 10 points to add comment." class="add-comment" data-id="2341" href="javascript:void(0)" data-original-title="" title="">Add Comment</a>
        <div class="clearfix"></div>
        <form class="child-reply" method="POST">
          <input type="hidden" name="qa_nonce" value="aa7fad5f64">
          <input type="hidden" name="comment_post_ID" value="2341">
          <input type="hidden" name="comment_type" value="question">
          <input type="hidden" name="user_id" value="0">
          <input type="hidden" name="post_parent" value="2341">
          <div id="editor_wrap_2341" class="child-answer-wrap collapse">
            <div class="wp-editor-container">
              <textarea name="post_content" id="insert_answer_2341"></textarea>
            </div>
            <div class="row submit-wrapper">
              <div class="col-md-3 col-xs-3">
                <button id="submit_reply" class="btn-submit">
                  Add comment	                    </button>
              </div>
              <div class="col-md-9 col-xs-9">
                <a href="javascript:void(0)" class="hide-comment">Cancel</a>
              </div>
            </div>
          </div>
        </form><!-- END SUBMIT FORM COMMENT -->

      </div><!-- END COMMENTS CONTAINER -->
    </div>
    <div class="clearfix"></div>
  </div><!-- END QUESTION-MAIN-CONTENT -->



  <!--<div class="sticky-wrapper">
    <h3 style="  background: #E5E5E5;"><a class="login-url" href="javascript:void(0)" data-toggle="modal">Login or Register to view and post answer</a></h3>
    <div class=""></div>
  </div>-->