<div class="row select-category">
    <div class="col-md-6 col-xs-6 current-category">
      <span>Users</span>
    </div>
    <div class="col-md-6 col-xs-6 select-categories input-find-tags">
      <form class="form-input-search" autocomplete="off" method="GET" action="http://qaengine.enginethemes.com/users/">
        <input autocomplete="off" type="text" name="ukey" id="ukey" value="" class="search-users" placeholder="Find Users">
        <i class="fa fa-chevron-circle-right"></i>
      </form>
    </div>
  </div><!-- END SELECT-CATEGORY -->
  <div class="row question-filter">
    <div class="col-md-6 col-xs-6 sort-questions">
      <ul>
        <li>
          <a class="active" href="http://qaengine.enginethemes.com/users/">Name</a>
        </li>
        <li>
          <a class="" href="/users/?sort=points">Points</a>
        </li>
      </ul>
    </div>
  </div><!-- END QUESTIONS-FILTER -->
  <div class="main-user-list">
    <ul id="main_users_list" class="row">
      <li class="user-item col-md-4 col-xs-6">
                    <span class="user-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg" class="avatar" alt="">                    </span>
        <div class="left-info">
          <a href="http://qaengine.enginethemes.com/blog/member/admin/"><span class="display_name">admin</span></a><br>
          <span class="location">
                            <i class="fa fa-map-marker"></i> Earth                        </span>
          <div class="question-cat">
            <span title="1529" class="user-badge" style="background-color:#780978;">Professor</span>                            <span class="points">1529 Points </span>
          </div>
        </div>
      </li>
      <li class="user-item col-md-4 col-xs-6">
                    <span class="user-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/128323.jpg" class="avatar" alt="">                    </span>
        <div class="left-info">
          <a href="http://qaengine.enginethemes.com/blog/member/alex/"><span class="display_name">Alex</span></a><br>
          <span class="location">
                            <i class="fa fa-map-marker"></i> Earth                        </span>
          <div class="question-cat">
            <span title="525" class="user-badge" style="background-color:#ffbf00;">Vice Professor</span>                            <span class="points">525 Points </span>
          </div>
        </div>
      </li>
      <li class="user-item col-md-4 col-xs-6">
                    <span class="user-avatar">
                        <img itemprop="image" src="http://0.gravatar.com/avatar/ed3e4f87c0835ea136453a4c1638a8aa?s=30&amp;d=mm&amp;r=G" class="avatar" alt="">                    </span>
        <div class="left-info">
          <a href="http://qaengine.enginethemes.com/blog/member/anntt/"><span class="display_name">anntt</span></a><br>
          <span class="location">
                            <i class="fa fa-map-marker"></i> Earth                        </span>
          <div class="question-cat">
            <span title="12" class="user-badge" style="background-color:#04aad4;">Train</span>                            <span class="points">12 Points </span>
          </div>
        </div>
      </li>
      <li class="user-item col-md-4 col-xs-6">
                    <span class="user-avatar">
                        <img itemprop="image" src="https://scontent.xx.fbcdn.net/hprofile-xaf1/v/t1.0-1/p200x200/11752020_484616671697349_3750700434683083468_n.jpg?oh=beb0dbf4463e41321d7fcd0925ab82d2&amp;oe=573B757E" class="avatar" alt="">                    </span>
        <div class="left-info">
          <a href="http://qaengine.enginethemes.com/blog/member/cem-ozturk/"><span class="display_name">cem ozturk</span></a><br>
          <span class="location">
                            <i class="fa fa-map-marker"></i> Earth                        </span>
          <div class="question-cat">
            <span title="Default" class="user-badge">Default</span>                            <span class="points">1 Points </span>
          </div>
        </div>
      </li>
      <li class="user-item col-md-4 col-xs-6">
                    <span class="user-avatar">
                        <img itemprop="image" src="http://1.gravatar.com/avatar/da23c8813c40919131218a6cd53e9962?s=30&amp;d=mm&amp;r=G" class="avatar" alt="">                    </span>
        <div class="left-info">
          <a href="http://qaengine.enginethemes.com/blog/member/chlam/"><span class="display_name">chlam</span></a><br>
          <span class="location">
                            <i class="fa fa-map-marker"></i> Earth                        </span>
          <div class="question-cat">
            <span title="Default" class="user-badge">Default</span>                            <span class="points">1 Points </span>
          </div>
        </div>
      </li>
      <li class="user-item col-md-4 col-xs-6">
                    <span class="user-avatar">
                        <img itemprop="image" src="http://1.gravatar.com/avatar/3743112a070d24fe4dbd5cb39d6a5e9e?s=30&amp;d=mm&amp;r=G" class="avatar" alt="">                    </span>
        <div class="left-info">
          <a href="http://qaengine.enginethemes.com/blog/member/admindemo/"><span class="display_name">Engine Admin Demo</span></a><br>
          <span class="location">
                            <i class="fa fa-map-marker"></i> Earth                        </span>
          <div class="question-cat">
            <span title="90" class="user-badge" style="background-color:#04aad4;">Train</span>                            <span class="points">90 Points </span>
          </div>
        </div>
      </li>
      <li class="user-item col-md-4 col-xs-6">
                    <span class="user-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/128.jpg" class="avatar" alt="">                    </span>
        <div class="left-info">
          <a href="http://qaengine.enginethemes.com/blog/member/john/"><span class="display_name">John</span></a><br>
          <span class="location">
                            <i class="fa fa-map-marker"></i> Earth                        </span>
          <div class="question-cat">
            <span title="146" class="user-badge" style="background-color:#a35429;">Supporter</span>                            <span class="points">146 Points </span>
          </div>
        </div>
      </li>
      <li class="user-item col-md-4 col-xs-6">
                    <span class="user-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12812.jpg" class="avatar" alt="">                    </span>
        <div class="left-info">
          <a href="http://qaengine.enginethemes.com/blog/member/marry/"><span class="display_name">Marry</span></a><br>
          <span class="location">
                            <i class="fa fa-map-marker"></i> Earth                        </span>
          <div class="question-cat">
            <span title="184" class="user-badge" style="background-color:#450ead;">Reviewer</span>                            <span class="points">184 Points </span>
          </div>
        </div>
      </li>
      <li class="user-item col-md-4 col-xs-6">
                    <span class="user-avatar">
                        <img itemprop="image" src="http://0.gravatar.com/avatar/c641b1b876186f18e4a295664a496b9b?s=30&amp;d=mm&amp;r=G" class="avatar" alt="">                    </span>
        <div class="left-info">
          <a href="http://qaengine.enginethemes.com/blog/member/nana/"><span class="display_name">nana</span></a><br>
          <span class="location">
                            <i class="fa fa-map-marker"></i> Earth                        </span>
          <div class="question-cat">
            <span title="11" class="user-badge" style="background-color:#04aad4;">Train</span>                            <span class="points">11 Points </span>
          </div>
        </div>
      </li>
      <li class="user-item col-md-4 col-xs-6">
                    <span class="user-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/1282.jpg" class="avatar" alt="">                    </span>
        <div class="left-info">
          <a href="http://qaengine.enginethemes.com/blog/member/smith/"><span class="display_name">Smith</span></a><br>
          <span class="location">
                            <i class="fa fa-map-marker"></i> Earth                        </span>
          <div class="question-cat">
            <span title="46" class="user-badge" style="background-color:#04aad4;">Train</span>                            <span class="points">46 Points </span>
          </div>
        </div>
      </li>
    </ul>
  </div><!-- END MAIN-QUESTIONS-LIST -->
  <div class="clearfix grey-line"></div>
  <div class="row paginations home">
    <div class="col-md-12">
      <ul class="page-numbers">
        <li><span class="page-numbers current">1</span></li>
        <li><a class="page-numbers" href="http://qaengine.enginethemes.com/users/page/2/">2</a></li>
        <li><a class="next page-numbers" href="http://qaengine.enginethemes.com/users/page/2/">&gt;</a></li>
      </ul>
    </div>
  </div><!-- END MAIN-PAGINATIONS -->