<header id="header">
  <div class="col-md-2 col-xs-2" id="logo">
    <a href="http://qaengine.enginethemes.com">
      <img src="https://cdn.enginethemes.com/qaengine/source/wp-content/themes/qaengine/img/logo.png">
    </a>
  </div><!-- logo -->
  <div id="menu_qa" class="col-md-8 col-xs-8">
    <div class="header-menu">
      <ul>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-12 current_page_item menu-item-20 active "><a href="http://qaengine.enginethemes.com/">Home</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-114"><a href="http://qaengine.enginethemes.com/about-us/">About us</a>
          <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2188"><a href="http://qaengine.enginethemes.com/users/">Users</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-12 current_page_item menu-item-2189 active "><a href="http://qaengine.enginethemes.com/">Questions Listing</a></li>
          </ul>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1866"><a href="http://qaengine.enginethemes.com/blog/">Blog</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="http://qaengine.enginethemes.com/term/">Term</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="http://qaengine.enginethemes.com/contact/">Contact</a></li>
      </ul>
    </div><!-- menu -->
    <div class="header-search-wrapper">
      <section class="buttonset">
        <button id="showLeftPush"><i class="fa fa-question"></i></button>
        <button id="showRightPush"><i class="fa fa-bar-chart-o"></i></button>

        <!-- <button id="showLeft"><i class="fa fa-question"></i></button>
                    <button id="showRight"><i class="fa fa-bar-chart-o"></i></button> -->
        <button id="showTop"><i class="fa fa-list"></i></button>
      </section>
      <form id="header_search" method="GET" action="http://qaengine.enginethemes.com" class="disable-mobile-search">
        <input type="text" name="keyword" required value="" placeholder="Enter Keywords" autocomplete="off" />
        <i class="fa fa-search"></i>
        <div id="search_preview" class="search-preview empty"></div>
      </form>
    </div><!-- search -->
  </div>
  <div id="login_qa" class="col-md-2 col-xs-2 btn-group ">

    <a class="login-url" href="javascript:void(0)" data-toggle="modal">
      Login or Register						</a>

  </div><!-- avatar -->
</header><!-- END HEADER -->