<div class="sampleClass"></div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 left-sidebar">
        <div class="widget widget-btn">
          <button type="button" data-toggle="modal" class="action ask-question">
            <i class="fa fa-plus"></i> ASK A QUESTION                    </button>
        </div><!-- END BUTTON MODAL QUESTION -->
        <div class="widget widget-menus">
          <div class="menu-left-menu-container"><ul id="menu-left-menu" class="menu"><li id="menu-item-1765" class="fa-question-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-1765"><a href="http://enginethemes.com/demo/qaengine/"><i class="fa fa-question-circle"></i>Questions</a></li>
            <li id="menu-item-183" class="fa-tags menu-item menu-item-type-post_type menu-item-object-page menu-item-183"><a href="http://qaengine.enginethemes.com/tags-4/"><i class="fa fa-tags"></i>Tags</a></li>
            <li id="menu-item-18" class="fa-trophy menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="http://qaengine.enginethemes.com/badges/"><i class="fa fa-trophy"></i>Badges</a></li>
            <li id="menu-item-1742" class="fa-th-list menu-item menu-item-type-post_type menu-item-object-page menu-item-1742"><a href="http://qaengine.enginethemes.com/categories-3/"><i class="fa fa-th-list"></i>Categories</a></li>
            <li id="menu-item-1743" class="fa-users menu-item menu-item-type-post_type menu-item-object-page menu-item-1743"><a href="http://qaengine.enginethemes.com/users/"><i class="fa fa-users"></i>Users</a></li>
          </ul></div>                </div><!-- END LEFT MENU -->
        <div class="clearfix"></div>
        <div class="copyright">
          &copy;2017  <br>
          <a href="http://qaengine.enginethemes.com/term/">Terms & Privacy</a>
        </div>
      </div><!-- END LEFT-SIDEBAR -->
    </div>
  </div>		</nav>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 right-sidebar">
        <li class="widget widget-statistic">
          <ul>
            <li class="questions-count">
              <p>Questions<p>
              <span>18</span>
            </li>
            <li class="members-count">
              <p>Members<p>
              <span>11</span>
            </li>
          </ul>
        </li><!-- END widget-statistic -->
        <li class="widget widget-related-tags">
          <h3>MOST USED TAGS</h3>
          <ul>
            <li>
              <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/business-2/">business</a> x 6            </li>
            <li>
              <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/technology-2/">technology</a> x 5            </li>
            <li>
              <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/marketing-2/">marketing</a> x 5            </li>
            <li>
              <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/google/">google</a> x 4            </li>
            <li>
              <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/apps/">apps</a> x 4            </li>
            <li>
              <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/billionaire/">billionaire</a> x 3            </li>
            <li>
              <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/movie-2/">movie</a> x 2            </li>
            <li>
              <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/glass/">glass</a> x 2            </li>
          </ul>
          <a href="http://qaengine.enginethemes.com/tags-4/">See more tags</a>
        </li><!-- END widget-related-tags -->
        <li class="widget widget-hot-questions">
          <h3>HOT QUESTIONS</h3>
          <ul>
            <li>
              <a href="http://qaengine.enginethemes.com/blog/question/what-are-the-best-mobile-apps-for-traveling/">
                    <span class="topic-avatar">
                    	<img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12812.jpg" class="avatar" alt="" />                    </span>
                <span class="topic-title">What are the best mobile apps for traveling?</span>
              </a>
            </li>
            <li>
              <a href="http://qaengine.enginethemes.com/blog/question/select-coordinates-which-fall-within-a-radius-of-a-central-point/">
                    <span class="topic-avatar">
                    	<img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg" class="avatar" alt="" />                    </span>
                <span class="topic-title">Select coordinates which fall within a radius of a central point?</span>
              </a>
            </li>
            <li>
              <a href="http://qaengine.enginethemes.com/blog/question/how-to-become-a-billionaire-in-the-next-5-years/">
                    <span class="topic-avatar">
                    	<img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg" class="avatar" alt="" />                    </span>
                <span class="topic-title">How to become a billionaire in the next 5 years?</span>
              </a>
            </li>
            <li>
              <a href="http://qaengine.enginethemes.com/blog/question/how-to-be-rich/">
                    <span class="topic-avatar">
                    	<img itemprop="image" src="http://1.gravatar.com/avatar/3743112a070d24fe4dbd5cb39d6a5e9e?s=30&amp;d=mm&amp;r=G" class="avatar" alt="" />                    </span>
                <span class="topic-title">How to be rich?</span>
              </a>
            </li>
            <li>
              <a href="http://qaengine.enginethemes.com/blog/question/why-isnt-music-free/">
                    <span class="topic-avatar">
                    	<img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/1282.jpg" class="avatar" alt="" />                    </span>
                <span class="topic-title">Why isn't music free?</span>
              </a>
            </li>
            <li>
              <a href="http://qaengine.enginethemes.com/blog/question/what-is-business/">
                    <span class="topic-avatar">
                    	<img itemprop="image" src="http://1.gravatar.com/avatar/3743112a070d24fe4dbd5cb39d6a5e9e?s=30&amp;d=mm&amp;r=G" class="avatar" alt="" />                    </span>
                <span class="topic-title">What is business??</span>
              </a>
            </li>
            <li>
              <a href="http://qaengine.enginethemes.com/blog/question/what-is-it-like-to-be-a-billionaire/">
                    <span class="topic-avatar">
                    	<img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg" class="avatar" alt="" />                    </span>
                <span class="topic-title">What is it like to be a billionaire?</span>
              </a>
            </li>
            <li>
              <a href="http://qaengine.enginethemes.com/blog/question/this-is-a-question-test/">
                    <span class="topic-avatar">
                    	<img itemprop="image" src="http://1.gravatar.com/avatar/3743112a070d24fe4dbd5cb39d6a5e9e?s=30&amp;d=mm&amp;r=G" class="avatar" alt="" />                    </span>
                <span class="topic-title">This is a question test</span>
              </a>
            </li>
          </ul>
        </li><!-- END widget-related-tags -->
        <li class="widget user-widget">
          <h3 class="widgettitle">TOP USERS (POINTS)</h3>
          <div class="hot-user-question">
            <ul>
              <li>
                <span class="number">1</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/tatthien/" title="56789">
                    		tatthien                    	</a>
                    </span>
                <span class="points-count" title="56789 Point(s)">
                    	<i class="fa fa-star"></i>
                    	<span>56.8K</span>
                    </span>
              </li>
              <li>
                <span class="number">2</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/alex/" title="525">
                    		Alex                    	</a>
                    </span>
                <span class="points-count" title="525 Point(s)">
                    	<i class="fa fa-star"></i>
                    	<span>525</span>
                    </span>
              </li>
              <li>
                <span class="number">3</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/marry/" title="184">
                    		Marry                    	</a>
                    </span>
                <span class="points-count" title="184 Point(s)">
                    	<i class="fa fa-star"></i>
                    	<span>184</span>
                    </span>
              </li>
              <li>
                <span class="number">4</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/john/" title="146">
                    		John                    	</a>
                    </span>
                <span class="points-count" title="146 Point(s)">
                    	<i class="fa fa-star"></i>
                    	<span>146</span>
                    </span>
              </li>
              <li>
                <span class="number">5</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/smith/" title="46">
                    		Smith                    	</a>
                    </span>
                <span class="points-count" title="46 Point(s)">
                    	<i class="fa fa-star"></i>
                    	<span>46</span>
                    </span>
              </li>
            </ul>
          </div>
        </li>
        <li class="widget user-widget">
          <h3 class="widgettitle">TOP USERS (QUESTIONS)</h3>
          <div class="hot-user-question">
            <ul>
              <li>
                <span class="number">1</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/alex/" title="4">
                    		Alex                    	</a>
                    </span>
                <span class="questions-count" title="4 Question(s)">
                    	<i class="fa fa-question-circle"></i>
                    	<span>4</span>
                    </span>
              </li>
              <li>
                <span class="number">2</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/smith/" title="2">
                    		Smith                    	</a>
                    </span>
                <span class="questions-count" title="2 Question(s)">
                    	<i class="fa fa-question-circle"></i>
                    	<span>2</span>
                    </span>
              </li>
              <li>
                <span class="number">3</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/john/" title="1">
                    		John                    	</a>
                    </span>
                <span class="questions-count" title="1 Question(s)">
                    	<i class="fa fa-question-circle"></i>
                    	<span>1</span>
                    </span>
              </li>
              <li>
                <span class="number">4</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/marry/" title="1">
                    		Marry                    	</a>
                    </span>
                <span class="questions-count" title="1 Question(s)">
                    	<i class="fa fa-question-circle"></i>
                    	<span>1</span>
                    </span>
              </li>
              <li>
                <span class="number">5</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/anntt/" title="0">
                    		anntt                    	</a>
                    </span>
                <span class="questions-count" title="0 Question(s)">
                    	<i class="fa fa-question-circle"></i>
                    	<span>0</span>
                    </span>
              </li>
            </ul>
          </div>
        </li>
        <li class="widget user-widget">
          <h3 class="widgettitle">TOP USERS (ANSWERS)</h3>
          <div class="hot-user-question">
            <ul>
              <li>
                <span class="number">1</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/john/" title="4">
                    		John                    	</a>
                    </span>
                <span class="answers-count" title="4 Answer(s)">
                    	<i class="fa fa-comments"></i>
                    	<span>4</span>
                    </span>
              </li>
              <li>
                <span class="number">2</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/marry/" title="4">
                    		Marry                    	</a>
                    </span>
                <span class="answers-count" title="4 Answer(s)">
                    	<i class="fa fa-comments"></i>
                    	<span>4</span>
                    </span>
              </li>
              <li>
                <span class="number">3</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/alex/" title="3">
                    		Alex                    	</a>
                    </span>
                <span class="answers-count" title="3 Answer(s)">
                    	<i class="fa fa-comments"></i>
                    	<span>3</span>
                    </span>
              </li>
              <li>
                <span class="number">4</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/smith/" title="3">
                    		Smith                    	</a>
                    </span>
                <span class="answers-count" title="3 Answer(s)">
                    	<i class="fa fa-comments"></i>
                    	<span>3</span>
                    </span>
              </li>
              <li>
                <span class="number">5</span>
                <span class="username ">
                    	<a href="http://qaengine.enginethemes.com/blog/member/anntt/" title="0">
                    		anntt                    	</a>
                    </span>
                <span class="answers-count" title="0 Answer(s)">
                    	<i class="fa fa-comments"></i>
                    	<span>0</span>
                    </span>
              </li>
            </ul>
          </div>
        </li>
        <li class="widget user-widget">
          <h3 class="widgettitle">TOP USERS (LATEST)</h3>
          <div class="hot-user-question">
            <ul>
              <li>
                <span class="number">1</span>
                <span class="username latest">
                    	<a href="http://qaengine.enginethemes.com/blog/member/chlam/" title="">
                    		chlam                    	</a>
                    </span>
              </li>
              <li>
                <span class="number">2</span>
                <span class="username latest">
                    	<a href="http://qaengine.enginethemes.com/blog/member/cem-ozturk/" title="">
                    		cem ozturk                    	</a>
                    </span>
              </li>
              <li>
                <span class="number">3</span>
                <span class="username latest">
                    	<a href="http://qaengine.enginethemes.com/blog/member/tatthien/" title="">
                    		tatthien                    	</a>
                    </span>
              </li>
              <li>
                <span class="number">4</span>
                <span class="username latest">
                    	<a href="http://qaengine.enginethemes.com/blog/member/nana/" title="">
                    		nana                    	</a>
                    </span>
              </li>
            </ul>
          </div>
        </li>
      </div><!-- END RIGHT-SIDEBAR -->
    </div>
  </div>		</nav>

<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" id="cbp-spmenu-s3">
  <ul class="menu-res">
    <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-12 current_page_item menu-item-20 active "><a href="http://qaengine.enginethemes.com/">Home</a></li>
    <li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-114"><a href="http://qaengine.enginethemes.com/about-us/">About us</a>
      <ul class="sub-menu">
        <li id="menu-item-2188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2188"><a href="http://qaengine.enginethemes.com/users/">Users</a></li>
        <li id="menu-item-2189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-12 current_page_item menu-item-2189 active "><a href="http://qaengine.enginethemes.com/">Questions Listing</a></li>
      </ul>
    </li>
    <li id="menu-item-1866" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1866"><a href="http://qaengine.enginethemes.com/blog/">Blog</a></li>
    <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="http://qaengine.enginethemes.com/term/">Term</a></li>
    <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="http://qaengine.enginethemes.com/contact/">Contact</a></li>
  </ul>
</nav>
