<div class="row select-category">
  <div itemprop="mainEntityOfPage" class="col-md-6 col-xs-6 current-category">
    <span itemprop="name">All Questions</span>
  </div>
  <div class="col-md-6 col-xs-6">
    <div class="select-categories-wrapper">
      <div class="outer-filter-wrapper">
        <div class="select-categories-filter">
          <span class="label-filter">Filter by</span>
          <div class="select-categories">
            <select  name='cat' id='move_to_category' class='select-grey-bg chosen-select' >
              <option value='http://qaengine.enginethemes.com'>Select Categories</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/accessories/">Accessories</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/accounting/">Accounting</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/advice/">Advice</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/arts/">Arts</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/automotive/">Automotive</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/awards/">Awards</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/b2b/">B2B</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/backup-and-data-recovery/">Backup and Data Recovery</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/banking/">Banking</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/beauty-products/">Beauty Products</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/biography/">Biography</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/bloging/">Bloging</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/board-games/">Board Games</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/books/">Books</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/business/">Business</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/camps/">Camps</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/car/">Car</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/chemistry/">Chemistry</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/childcare/">Childcare</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/classifieds/">Classifieds</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/cleaning/">Cleaning</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/climbing/">Climbing</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/clothing/">Clothing</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/comics/">Comics</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/computer/">Computer</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/conferences/">Conferences</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/consulting/">Consulting</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/cooking/">Cooking</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/data-formats/">Data formats</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/databases/">Databases</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/dentistry/">Dentistry</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/design/">Design</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/dictionary/">Dictionary</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/directories/">Directories</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/download/">Download</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/e-commerce/">E-Commerce</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/ebook/">Ebook</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/economics/">Economics</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/education/">Education</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/emulators/">Emulators</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/entertainment/">Entertainment</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/fashion/">Fashion</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/financial/">Financial</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/food/">Food</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/hardware/">Hardware</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/health/">Health</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/history/">History</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/magazines/">Magazines</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/marketing/">Marketing</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/mobile/">Mobile</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/movie/">Movie</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/music/">Music</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/photography/">Photography</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/programmer/">Programmer</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/science/">Science</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/security/">Security</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/seo/">SEO</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/software/">Software</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/sports/">Sports</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/technology/">Technology</option>
              <option class="level-0" value="http://qaengine.enginethemes.com/blog/question-category/traval/">Travel</option>
            </select>
          </div>
        </div>
        <div class="filter-by-select">
          <select class="filter-select-type chosen-select" name="" id="">
            <option value="/?qtype=all" >All</option>
            <option value="/?qtype=poll" >Poll</option>
            <option value="/?qtype=normal" >Normal</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div><!-- END SELECT-CATEGORY -->

<div class="row q-filter-waypoints collapse" id="q_filter_waypoints">
  <div class="col-md-2 col-xs-2">
    <button type="button" data-toggle="modal" class="action ask-question">
      <i class="fa fa-plus"></i> ASK A QUESTION	            </button>
  </div>
  <div class="col-md-8 col-sm-10 col-xs-10">
    <div class="row">
      <div class="col-md-2 hidden-xs hidden-sm">
												<span class="q-f-title">
							All Questions						</span>
      </div><!-- END TITLE -->
      <div class="col-md-5 col-sm-6 col-xs-6">
        <ul class="q-f-sort">
          <li>
            <a class="active" href="http://qaengine.enginethemes.com/">
              Latest		                        </a>
          </li>
          <li>
            <a class="" href="http://qaengine.enginethemes.com/?sort=vote">
              Votes		                        </a>
          </li>
          <li>
            <a class="" href="http://qaengine.enginethemes.com/?sort=unanswer">
              Unanswered		                        </a>
          </li>
        </ul><!-- END FILTER -->
      </div>
      <div class="col-md-5 col-sm-6 col-xs-6 categories-wrapper">
        <div class="select-categories-wrapper fixed">
          <span class="label-filter">Filter by</span>
          <div class="select-categories">
            <select class="select-grey-bg chosen-select" id="move_to_category">
              <option>Filter by category</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/technology/">
                Technology		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/science/">
                Science		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/business/">
                Business		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/movie/">
                Movie		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/traval/">
                Travel		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/music/">
                Music		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/food/">
                Food		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/education/">
                Education		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/design/">
                Design		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/cooking/">
                Cooking		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/photography/">
                Photography		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/marketing/">
                Marketing		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/mobile/">
                Mobile		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/computer/">
                Computer		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/fashion/">
                Fashion		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/history/">
                History		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/programmer/">
                Programmer		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/dictionary/">
                Dictionary		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/bloging/">
                Bloging		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/software/">
                Software		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/hardware/">
                Hardware		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/magazines/">
                Magazines		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/seo/">
                SEO		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/health/">
                Health		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/financial/">
                Financial		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/security/">
                Security		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/sports/">
                Sports		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/automotive/">
                Automotive		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/board-games/">
                Board Games		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/b2b/">
                B2B		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/beauty-products/">
                Beauty Products		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/camps/">
                Camps		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/banking/">
                Banking		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/backup-and-data-recovery/">
                Backup and Data Recovery		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/biography/">
                Biography		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/books/">
                Books		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/accessories/">
                Accessories		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/accounting/">
                Accounting		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/advice/">
                Advice		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/arts/">
                Arts		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/awards/">
                Awards		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/car/">
                Car		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/chemistry/">
                Chemistry		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/childcare/">
                Childcare		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/classifieds/">
                Classifieds		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/cleaning/">
                Cleaning		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/climbing/">
                Climbing		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/clothing/">
                Clothing		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/comics/">
                Comics		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/conferences/">
                Conferences		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/consulting/">
                Consulting		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/data-formats/">
                Data formats		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/dentistry/">
                Dentistry		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/databases/">
                Databases		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/directories/">
                Directories		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/download/">
                Download		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/ebook/">
                Ebook		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/e-commerce/">
                E-Commerce		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/economics/">
                Economics		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/emulators/">
                Emulators		</option>
              <option  value="http://qaengine.enginethemes.com/blog/question-category/entertainment/">
                Entertainment		</option>
            </select>
          </div>
        </div><!-- END SELECT CATEGORIES -->
        <div class="number-of-questions-wrapper fixed">
          <div class="number-of-questions">
            <select id="filter-numbers" class="select-grey-bg chosen-select">
              <option  value="http://qaengine.enginethemes.com/?numbers=20">20</option>
              <option  value="http://qaengine.enginethemes.com/?numbers=15">15</option>
              <option selected value="http://qaengine.enginethemes.com/?numbers=12">12</option>
              <option  value="http://qaengine.enginethemes.com/?numbers=10">10</option>
              <option  value="http://qaengine.enginethemes.com/?numbers=5">5</option>
            </select>
          </div>
        </div><!-- END POSTS PER PAGE -->
      </div>
    </div>
  </div>
</div>
<div class="row question-filter" id="question_filter">
  <div class="col-md-6 col-xs-6 sort-questions">
    <ul>
      <li>
        <a class="active" href="http://qaengine.enginethemes.com/">
          Latest                        </a>
      </li>
      <li>
        <a class="" href="http://qaengine.enginethemes.com/?sort=vote">Votes</a>
      </li>
      <li>
        <a class="" href="http://qaengine.enginethemes.com/?sort=unanswer">Unanswered</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-xs-6">
    <div class="number-of-questions-wrapper">
      <span class="number-of-questions-text">Questions Per Page: </span>
      <div class="number-of-questions">
        <select id="filter-numbers" class="select-grey-bg chosen-select">
          <option  value="http://qaengine.enginethemes.com/?numbers=20">20</option>
          <option  value="http://qaengine.enginethemes.com/?numbers=15">15</option>
          <option selected value="http://qaengine.enginethemes.com/?numbers=12">12</option>
          <option  value="http://qaengine.enginethemes.com/?numbers=10">10</option>
          <option  value="http://qaengine.enginethemes.com/?numbers=5">5</option>
        </select>
      </div>
    </div>
  </div>
</div><!-- END QUESTIONS-FILTER -->
<div class="main-questions-list">
  <ul id="main_questions_list">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-2341 question type-question status-publish hentry question_category-business qa_tag-business-2 qa_tag-technology-2" data-id="2341" >
      <div itemprop="item" itemscope itemtype="http://schema.org/Question">
        <div class="col-md-8 col-xs-8 q-left-content">
          <div class="q-ltop-content">
            <h2 itemprop="name">
              <a itemprop="url" href="http://qaengine.enginethemes.com/blog/question/what-is-business/" class="question-title">What is business??</a>
            </h2>
          </div>
          <div class="q-lbtm-content">
            <div itemprop="text" class="question-excerpt">
              <p>I want to know about business process. &nbsp;</p>
            </div>
            <div class="question-cat">
              <ul class="question-tags">
                <li>
                  <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/business-2/ ">
                    business                                </a>
                </li>
                <li>
                  <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/technology-2/ ">
                    technology                                </a>
                </li>
              </ul>
              <div class="clearfix"></div>
              <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/admindemo/">
                    <span class="author-avatar">
                        <img itemprop="image" src="http://1.gravatar.com/avatar/3743112a070d24fe4dbd5cb39d6a5e9e?s=30&amp;d=mm&amp;r=G" class="avatar" alt="" />                    </span>
                <span itemprop="name" class="author-name">Engine Admin Demo</span>
              </a>
              <span title="90" class="user-badge" style="background-color:#04aad4;">Train</span>                    <span itemprop="dateCreated" datetime="on July 14, 2016" class="question-time">
                    Asked on July 14, 2016 in                </span>
              <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/business/">Business.</a>
                                </span>                </div>
          </div>
        </div><!-- end left content -->
        <div class="col-md-4 col-xs-4 q-right-content">
          <ul class="question-statistic">
            <li>
                <span class="question-views">
                    16                </span>
              views                </li>
            <li class="active">
                <span itemprop="answerCount" class="question-answers">
                    2                </span>
              answers                </li>
            <li>
                <span itemprop="upvoteCount" class="question-votes">
                    0                </span>
              votes                </li>
          </ul>
          <div class="pumping">
          </div>
        </div><!-- end right content -->
        <div class="clearfix"></div>
      </div>
    </li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-2304 question type-question status-publish hentry question_category-education" data-id="2304" >
    <div itemprop="item" itemscope itemtype="http://schema.org/Question">
      <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
          <h2 itemprop="name">
            <a itemprop="url" href="http://qaengine.enginethemes.com/blog/question/how-to-be-rich/" class="question-title">How to be rich?</a>
          </h2>
        </div>
        <div class="q-lbtm-content">
          <div itemprop="text" class="question-excerpt">
            <p>How to ?</p>
          </div>
          <div class="question-cat">
            <ul class="question-tags">
            </ul>
            <div class="clearfix"></div>
            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/admindemo/">
                    <span class="author-avatar">
                        <img itemprop="image" src="http://1.gravatar.com/avatar/3743112a070d24fe4dbd5cb39d6a5e9e?s=30&amp;d=mm&amp;r=G" class="avatar" alt="" />                    </span>
              <span itemprop="name" class="author-name">Engine Admin Demo</span>
            </a>
            <span title="90" class="user-badge" style="background-color:#04aad4;">Train</span>                    <span itemprop="dateCreated" datetime="on July 14, 2016" class="question-time">
                    Asked on July 14, 2016 in                </span>
            <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/education/">Education.</a>
                                </span>                </div>
        </div>
      </div><!-- end left content -->
      <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
          <li>
                <span class="question-views">
                    26                </span>
            views                </li>
          <li class="active">
                <span itemprop="answerCount" class="question-answers">
                    3                </span>
            answers                </li>
          <li>
                <span itemprop="upvoteCount" class="question-votes">
                    0                </span>
            votes                </li>
        </ul>
        <div class="pumping">
        </div>
      </div><!-- end right content -->
      <div class="clearfix"></div>
    </div>
  </li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-2300 question type-question status-publish hentry question_category-photography qa_tag-test" data-id="2300" >
    <div itemprop="item" itemscope itemtype="http://schema.org/Question">
      <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
          <h2 itemprop="name">
            <a itemprop="url" href="http://qaengine.enginethemes.com/blog/question/this-is-a-question-test/" class="question-title">This is a question test</a>
          </h2>
        </div>
        <div class="q-lbtm-content">
          <div itemprop="text" class="question-excerpt">
            <p>test</p>
          </div>
          <div class="question-cat">
            <ul class="question-tags">
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/test/ ">
                  test                                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/admindemo/">
                    <span class="author-avatar">
                        <img itemprop="image" src="http://1.gravatar.com/avatar/3743112a070d24fe4dbd5cb39d6a5e9e?s=30&amp;d=mm&amp;r=G" class="avatar" alt="" />                    </span>
              <span itemprop="name" class="author-name">Engine Admin Demo</span>
            </a>
            <span title="90" class="user-badge" style="background-color:#04aad4;">Train</span>                    <span itemprop="dateCreated" datetime="on July 14, 2016" class="question-time">
                    Asked on July 14, 2016 in                </span>
            <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/photography/">Photography.</a>
                                </span>                </div>
        </div>
      </div><!-- end left content -->
      <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
          <li>
                <span class="question-views">
                    8                </span>
            views                </li>
          <li class="">
                <span itemprop="answerCount" class="question-answers">
                    1                </span>
            answers                </li>
          <li>
                <span itemprop="upvoteCount" class="question-votes">
                    0                </span>
            votes                </li>
        </ul>
        <div class="pumping">
        </div>
      </div><!-- end right content -->
      <div class="clearfix"></div>
    </div>
  </li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-2296 question type-question status-publish hentry question_category-technology" data-id="2296" >
    <div itemprop="item" itemscope itemtype="http://schema.org/Question">
      <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
          <h2 itemprop="name">
            <a itemprop="url" href="http://qaengine.enginethemes.com/blog/question/gavick/" class="question-title">Gavick</a>
          </h2>
        </div>
        <div class="q-lbtm-content">
          <div itemprop="text" class="question-excerpt">
          </div>
          <div class="question-cat">
            <ul class="question-tags">
            </ul>
            <div class="clearfix"></div>
            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/admindemo/">
                    <span class="author-avatar">
                        <img itemprop="image" src="http://1.gravatar.com/avatar/3743112a070d24fe4dbd5cb39d6a5e9e?s=30&amp;d=mm&amp;r=G" class="avatar" alt="" />                    </span>
              <span itemprop="name" class="author-name">Engine Admin Demo</span>
            </a>
            <span title="90" class="user-badge" style="background-color:#04aad4;">Train</span>                    <span itemprop="dateCreated" datetime="on July 14, 2016" class="question-time">
                    Asked on July 14, 2016 in                </span>
            <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/technology/">Technology.</a>
                                </span>                </div>
        </div>
      </div><!-- end left content -->
      <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
          <li>
                <span class="question-views">
                    9                </span>
            views                </li>
          <li class="">
                <span itemprop="answerCount" class="question-answers">
                    0                </span>
            answers                </li>
          <li>
                <span itemprop="upvoteCount" class="question-votes">
                    0                </span>
            votes                </li>
        </ul>
        <div class="pumping">
        </div>
      </div><!-- end right content -->
      <div class="clearfix"></div>
    </div>
  </li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-2212 poll type-poll status-publish format-standard hentry question_category-music" data-id="2212" >
    <div itemprop="item" itemscope itemtype="http://schema.org/Question">
      <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
          <h2 itemprop="name">
            <span class="mask-poll">Poll</span>
            <a itemprop="url" href="http://qaengine.enginethemes.com/blog/poll/what-s-your-favorite-song/" class="question-title">What &#8216;s your favorite song?</a>
          </h2>
        </div>
        <div class="q-lbtm-content">
          <div itemprop="text" class="question-excerpt">
            <p>I&#8217;m a programmer, and student of Engineering&#8230; Which linux distribution would be most useful to me in terms of software, &#8230;</p>
          </div>
          <div class="question-cat">
            <ul class="question-tags">
            </ul>
            <div class="clearfix"></div>
            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/admin/">
                    <span class="author-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg" class="avatar" alt="" />                    </span>
              <span itemprop="name" class="author-name">admin</span>
            </a>
            <span title="1529" class="user-badge" style="background-color:#780978;">Professor</span>                    <span itemprop="dateCreated" datetime="on January 20, 2016" class="question-time">
                    Asked on January 20, 2016 in                </span>
            <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/music/">Music.</a>
                                </span>                </div>
        </div>
      </div><!-- end left content -->
      <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
          <li>
                <span class="question-views">
                    55                </span>
            views                </li>
          <li class="">
                <span itemprop="answerCount" class="poll-answers">
                    0                </span>
            answers                </li>
          <li>
                <span itemprop="upvoteCount" class="question-votes">
                    1                </span>
            votes                </li>
        </ul>
        <div class="pumping">
        </div>
      </div><!-- end right content -->
      <div class="clearfix"></div>
    </div>
  </li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-188 question type-question status-publish hentry question_category-technology qa_tag-apps qa_tag-business-2 qa_tag-glass qa_tag-google qa_tag-technology-2" data-id="188" >
    <div itemprop="item" itemscope itemtype="http://schema.org/Question">
      <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
          <h2 itemprop="name">
            <a itemprop="url" href="http://qaengine.enginethemes.com/blog/question/select-coordinates-which-fall-within-a-radius-of-a-central-point/" class="question-title">Select coordinates which fall within a radius of a central point?</a>
          </h2>
        </div>
        <div class="q-lbtm-content">
          <div itemprop="text" class="question-excerpt">
            <p>I have a database of coordinates in the schema: ID:Latitude:Longitude:name:desc I&#8217;ve set up my google maps application to show the &#8230;</p>
          </div>
          <div class="question-cat">
            <ul class="question-tags">
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/apps/ ">
                  apps                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/business-2/ ">
                  business                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/glass/ ">
                  glass                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/google/ ">
                  google                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/technology-2/ ">
                  technology                                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/admin/">
                    <span class="author-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg" class="avatar" alt="" />                    </span>
              <span itemprop="name" class="author-name">admin</span>
            </a>
            <span title="1529" class="user-badge" style="background-color:#780978;">Professor</span>                    <span itemprop="dateCreated" datetime="on June 9, 2014" class="question-time">
                    Asked on June 9, 2014 in                </span>
            <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/technology/">Technology.</a>
                                </span>                </div>
        </div>
      </div><!-- end left content -->
      <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
          <li>
                <span class="question-views">
                    123                </span>
            views                </li>
          <li class="active">
                <span itemprop="answerCount" class="question-answers">
                    0                </span>
            answers                </li>
          <li>
                <span itemprop="upvoteCount" class="question-votes">
                    2                </span>
            votes                </li>
        </ul>
        <div class="pumping">
        </div>
      </div><!-- end right content -->
      <div class="clearfix"></div>
    </div>
  </li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-86 question type-question status-publish hentry question_category-mobile qa_tag-android qa_tag-apple qa_tag-apps qa_tag-google qa_tag-technology-2" data-id="86" >
    <div itemprop="item" itemscope itemtype="http://schema.org/Question">
      <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
          <h2 itemprop="name">
            <a itemprop="url" href="http://qaengine.enginethemes.com/blog/question/what-are-the-best-mobile-apps-for-traveling/" class="question-title">What are the best mobile apps for traveling?</a>
          </h2>
        </div>
        <div class="q-lbtm-content">
          <div itemprop="text" class="question-excerpt">
            <p>Which mobile apps would you recommend for frequent travelers? On any phone (Android, iPhone, Blackberry, Palm Pre, iPad ect).</p>
          </div>
          <div class="question-cat">
            <ul class="question-tags">
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/android/ ">
                  android                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/apple/ ">
                  apple                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/apps/ ">
                  apps                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/google/ ">
                  google                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/technology-2/ ">
                  technology                                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/marry/">
                    <span class="author-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12812.jpg" class="avatar" alt="" />                    </span>
              <span itemprop="name" class="author-name">Marry</span>
            </a>
            <span title="184" class="user-badge" style="background-color:#450ead;">Reviewer</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                    Asked on June 5, 2014 in                </span>
            <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/mobile/">Mobile.</a>
                                </span>                </div>
        </div>
      </div><!-- end left content -->
      <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
          <li>
                <span class="question-views">
                    91                </span>
            views                </li>
          <li class="">
                <span itemprop="answerCount" class="question-answers">
                    10                </span>
            answers                </li>
          <li>
                <span itemprop="upvoteCount" class="question-votes">
                    2                </span>
            votes                </li>
        </ul>
        <div class="pumping">
        </div>
      </div><!-- end right content -->
      <div class="clearfix"></div>
    </div>
  </li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-78 question type-question status-publish hentry question_category-business qa_tag-billionaire qa_tag-business-2" data-id="78" >
    <div itemprop="item" itemscope itemtype="http://schema.org/Question">
      <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
          <h2 itemprop="name">
            <a itemprop="url" href="http://qaengine.enginethemes.com/blog/question/how-to-become-a-billionaire-in-the-next-5-years/" class="question-title">How to become a billionaire in the next 5 years?</a>
          </h2>
        </div>
        <div class="q-lbtm-content">
          <div itemprop="text" class="question-excerpt">
            <p>People do not become billionaires by accident. Demystify as many of the variables as you can before you assemble a &#8230;</p>
          </div>
          <div class="question-cat">
            <ul class="question-tags">
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/billionaire/ ">
                  billionaire                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/business-2/ ">
                  business                                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/admin/">
                    <span class="author-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg" class="avatar" alt="" />                    </span>
              <span itemprop="name" class="author-name">admin</span>
            </a>
            <span title="1529" class="user-badge" style="background-color:#780978;">Professor</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                    Asked on June 5, 2014 in                </span>
            <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/business/">Business.</a>
                                </span>                </div>
        </div>
      </div><!-- end left content -->
      <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
          <li>
                <span class="question-views">
                    53                </span>
            views                </li>
          <li class="active">
                <span itemprop="answerCount" class="question-answers">
                    3                </span>
            answers                </li>
          <li>
                <span itemprop="upvoteCount" class="question-votes">
                    1                </span>
            votes                </li>
        </ul>
        <div class="pumping">
        </div>
      </div><!-- end right content -->
      <div class="clearfix"></div>
    </div>
  </li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-71 question type-question status-publish hentry question_category-music qa_tag-apps qa_tag-facebook qa_tag-google qa_tag-marketing-2 qa_tag-social" data-id="71" >
    <div itemprop="item" itemscope itemtype="http://schema.org/Question">
      <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
          <h2 itemprop="name">
            <a itemprop="url" href="http://qaengine.enginethemes.com/blog/question/why-isnt-music-free/" class="question-title">Why isn&#8217;t music free?</a>
          </h2>
        </div>
        <div class="q-lbtm-content">
          <div itemprop="text" class="question-excerpt">
            <p>Why is the music industry so set on the business model of selling music when there are a plethora of &#8230;</p>
          </div>
          <div class="question-cat">
            <ul class="question-tags">
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/apps/ ">
                  apps                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/facebook/ ">
                  facebook                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/google/ ">
                  google                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/marketing-2/ ">
                  marketing                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/social/ ">
                  social                                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/smith/">
                    <span class="author-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/1282.jpg" class="avatar" alt="" />                    </span>
              <span itemprop="name" class="author-name">Smith</span>
            </a>
            <span title="46" class="user-badge" style="background-color:#04aad4;">Train</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                    Asked on June 5, 2014 in                </span>
            <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/music/">Music.</a>
                                </span>                </div>
        </div>
      </div><!-- end left content -->
      <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
          <li>
                <span class="question-views">
                    39                </span>
            views                </li>
          <li class="active">
                <span itemprop="answerCount" class="question-answers">
                    3                </span>
            answers                </li>
          <li>
                <span itemprop="upvoteCount" class="question-votes">
                    2                </span>
            votes                </li>
        </ul>
        <div class="pumping">
        </div>
      </div><!-- end right content -->
      <div class="clearfix"></div>
    </div>
  </li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-63 question type-question status-publish hentry question_category-marketing qa_tag-apple qa_tag-apps qa_tag-business-2 qa_tag-important qa_tag-marketing-2" data-id="63" >
    <div itemprop="item" itemscope itemtype="http://schema.org/Question">
      <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
          <h2 itemprop="name">
            <a itemprop="url" href="http://qaengine.enginethemes.com/blog/question/what-are-good-ways-to-learn-to-become-the-best-digital-marketer/" class="question-title">What are good ways to learn to become the best digital marketer?</a>
          </h2>
        </div>
        <div class="q-lbtm-content">
          <div itemprop="text" class="question-excerpt">
            <p>It&#8217;s important to learn from the influencers of your industry. There are a few that come to mind immediately are: &#8230;</p>
          </div>
          <div class="question-cat">
            <ul class="question-tags">
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/apple/ ">
                  apple                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/apps/ ">
                  apps                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/business-2/ ">
                  business                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/important/ ">
                  important                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/marketing-2/ ">
                  marketing                                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/smith/">
                    <span class="author-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/1282.jpg" class="avatar" alt="" />                    </span>
              <span itemprop="name" class="author-name">Smith</span>
            </a>
            <span title="46" class="user-badge" style="background-color:#04aad4;">Train</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                    Asked on June 5, 2014 in                </span>
            <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/marketing/">Marketing.</a>
                                </span>                </div>
        </div>
      </div><!-- end left content -->
      <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
          <li>
                <span class="question-views">
                    32                </span>
            views                </li>
          <li class="">
                <span itemprop="answerCount" class="question-answers">
                    1                </span>
            answers                </li>
          <li>
                <span itemprop="upvoteCount" class="question-votes">
                    2                </span>
            votes                </li>
        </ul>
        <div class="pumping">
        </div>
      </div><!-- end right content -->
      <div class="clearfix"></div>
    </div>
  </li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-59 question type-question status-publish hentry question_category-marketing qa_tag-billionaire qa_tag-buget qa_tag-business-2 qa_tag-marketing-2 qa_tag-users" data-id="59" >
    <div itemprop="item" itemscope itemtype="http://schema.org/Question">
      <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
          <h2 itemprop="name">
            <a itemprop="url" href="http://qaengine.enginethemes.com/blog/question/what-are-key-strategies-to-acquire-first-100k-users-with-zero-marketing-budget/" class="question-title">What are key strategies to acquire first 100K users with zero marketing budget?</a>
          </h2>
        </div>
        <div class="q-lbtm-content">
          <div itemprop="text" class="question-excerpt">
            <p>Make a great product but yall know that so Ill just dive into the tactics.. Lorem ipsum dolor sit amet, &#8230;</p>
          </div>
          <div class="question-cat">
            <ul class="question-tags">
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/billionaire/ ">
                  billionaire                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/buget/ ">
                  buget                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/business-2/ ">
                  business                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/marketing-2/ ">
                  marketing                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/users/ ">
                  users                                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/john/">
                    <span class="author-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/128.jpg" class="avatar" alt="" />                    </span>
              <span itemprop="name" class="author-name">John</span>
            </a>
            <span title="146" class="user-badge" style="background-color:#a35429;">Supporter</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                    Asked on June 5, 2014 in                </span>
            <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/marketing/">Marketing.</a>
                                </span>                </div>
        </div>
      </div><!-- end left content -->
      <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
          <li>
                <span class="question-views">
                    29                </span>
            views                </li>
          <li class="">
                <span itemprop="answerCount" class="question-answers">
                    1                </span>
            answers                </li>
          <li>
                <span itemprop="upvoteCount" class="question-votes">
                    1                </span>
            votes                </li>
        </ul>
        <div class="pumping">
        </div>
      </div><!-- end right content -->
      <div class="clearfix"></div>
    </div>
  </li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-57 question type-question status-publish hentry question_category-marketing qa_tag-demo qa_tag-marketers qa_tag-marketing-2 qa_tag-media" data-id="57" >
    <div itemprop="item" itemscope itemtype="http://schema.org/Question">
      <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
          <h2 itemprop="name">
            <a itemprop="url" href="http://qaengine.enginethemes.com/blog/question/what-were-the-latest-trends-in-marketing-for-2013/" class="question-title">What were the latest trends in marketing for 2013?</a>
          </h2>
        </div>
        <div class="q-lbtm-content">
          <div itemprop="text" class="question-excerpt">
            <p>What strategies should marketers be focussing in the year of new age media ? Lorem ipsum dolor sit amet, consectetur &#8230;</p>
          </div>
          <div class="question-cat">
            <ul class="question-tags">
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/demo/ ">
                  demo                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/marketers/ ">
                  marketers                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/marketing-2/ ">
                  marketing                                </a>
              </li>
              <li>
                <a class="q-tag" href="http://qaengine.enginethemes.com/blog/qa-tag/media/ ">
                  media                                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://qaengine.enginethemes.com/blog/member/alex/">
                    <span class="author-avatar">
                        <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/128323.jpg" class="avatar" alt="" />                    </span>
              <span itemprop="name" class="author-name">Alex</span>
            </a>
            <span title="525" class="user-badge" style="background-color:#ffbf00;">Vice Professor</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                    Asked on June 5, 2014 in                </span>
            <span class="question-category">
                                    <a href="http://qaengine.enginethemes.com/blog/question-category/marketing/">Marketing.</a>
                                </span>                </div>
        </div>
      </div><!-- end left content -->
      <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
          <li>
                <span class="question-views">
                    17                </span>
            views                </li>
          <li class="">
                <span itemprop="answerCount" class="question-answers">
                    0                </span>
            answers                </li>
          <li>
                <span itemprop="upvoteCount" class="question-votes">
                    0                </span>
            votes                </li>
        </ul>
        <div class="pumping">
        </div>
      </div><!-- end right content -->
      <div class="clearfix"></div>
    </div>
  </li>            </ul>
</div><!-- END MAIN-QUESTIONS-LIST -->
<div class="row paginations home">
  <div class="col-md-12">
    <ul class='page-numbers'>
      <li><span class='page-numbers current'>1</span></li>
      <li><a class='page-numbers' href='http://qaengine.enginethemes.com/?page=2'>2</a></li>
      <li><a class="next page-numbers" href="http://qaengine.enginethemes.com/?page=2">></a></li>
    </ul>
  </div>
</div><!-- END MAIN-PAGINATIONS -->