<div class="row select-category">
    <div class="col-md-6 col-xs-6 current-category">
      <span>Categories</span>
    </div>
    <div class="col-md-6 col-xs-6 select-categories input-find-tags">
      <form class="form-input-search" autocomplete="off" method="GET" action="http://qaengine.enginethemes.com/categories-3/">
        <input autocomplete="off" type="text" name="ckey" id="ckey" value="" class="search-users" placeholder="Find Categories">
        <i class="fa fa-chevron-circle-right"></i>
      </form>
    </div>
  </div><!-- END SELECT-CATEGORY -->
  <div class="row question-filter">
    <div class="col-md-6 col-xs-6 sort-questions">
      <ul>
        <li>
          <a class="active" href="/categories-3/">Name</a>
        </li>
        <li>
          <a href="?orderby=popular" class="">Popular</a>
        </li>
      </ul>
    </div>
  </div><!-- END QUESTIONS-FILTER -->
  <div class="main-tag-list">
    <div class="tags-list row ">
      <div class="col-md-12">
        <span class="character">A</span>
      </div>
      <div class="clearfix"></div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/accessories/" class="q-tag">Accessories</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/accounting/" class="q-tag">Accounting</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/advice/" class="q-tag">Advice</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/arts/" class="q-tag">Arts</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/automotive/" class="q-tag">Automotive</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/awards/" class="q-tag">Awards</a>
      </div>
      <div class="col-md-12">
        <div class="clearfix"></div>
        <div class="grey-line"></div>
      </div>
      <div class="col-md-12">
        <span class="character">B</span>
      </div>
      <div class="clearfix"></div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/b2b/" class="q-tag">B2B</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/backup-and-data-recovery/" class="q-tag">Backup and Data Recovery</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/banking/" class="q-tag">Banking</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/beauty-products/" class="q-tag">Beauty Products</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/biography/" class="q-tag">Biography</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/bloging/" class="q-tag">Bloging</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/board-games/" class="q-tag">Board Games</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/books/" class="q-tag">Books</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/business/" class="q-tag">Business</a>
      </div>
      <div class="col-md-12">
        <div class="clearfix"></div>
        <div class="grey-line"></div>
      </div>
      <div class="col-md-12">
        <span class="character">C</span>
      </div>
      <div class="clearfix"></div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/camps/" class="q-tag">Camps</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/car/" class="q-tag">Car</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/chemistry/" class="q-tag">Chemistry</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/childcare/" class="q-tag">Childcare</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/classifieds/" class="q-tag">Classifieds</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/cleaning/" class="q-tag">Cleaning</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/climbing/" class="q-tag">Climbing</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/clothing/" class="q-tag">Clothing</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/comics/" class="q-tag">Comics</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/computer/" class="q-tag">Computer</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/conferences/" class="q-tag">Conferences</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/consulting/" class="q-tag">Consulting</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/cooking/" class="q-tag">Cooking</a>
      </div>
      <div class="col-md-12">
        <div class="clearfix"></div>
        <div class="grey-line"></div>
      </div>
      <div class="col-md-12">
        <span class="character">D</span>
      </div>
      <div class="clearfix"></div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/data-formats/" class="q-tag">Data formats</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/databases/" class="q-tag">Databases</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/dentistry/" class="q-tag">Dentistry</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/design/" class="q-tag">Design</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/dictionary/" class="q-tag">Dictionary</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/directories/" class="q-tag">Directories</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/download/" class="q-tag">Download</a>
      </div>
      <div class="col-md-12">
        <div class="clearfix"></div>
        <div class="grey-line"></div>
      </div>
      <div class="col-md-12">
        <span class="character">E</span>
      </div>
      <div class="clearfix"></div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/e-commerce/" class="q-tag">E-Commerce</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/ebook/" class="q-tag">Ebook</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/economics/" class="q-tag">Economics</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/education/" class="q-tag">Education</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/emulators/" class="q-tag">Emulators</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/entertainment/" class="q-tag">Entertainment</a>
      </div>
      <div class="col-md-12">
        <div class="clearfix"></div>
        <div class="grey-line"></div>
      </div>
      <div class="col-md-12">
        <span class="character">F</span>
      </div>
      <div class="clearfix"></div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/fashion/" class="q-tag">Fashion</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/financial/" class="q-tag">Financial</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/food/" class="q-tag">Food</a>
      </div>
      <div class="col-md-12">
        <div class="clearfix"></div>
        <div class="grey-line"></div>
      </div>
      <div class="col-md-12">
        <span class="character">H</span>
      </div>
      <div class="clearfix"></div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/hardware/" class="q-tag">Hardware</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/health/" class="q-tag">Health</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/history/" class="q-tag">History</a>
      </div>
      <div class="col-md-12">
        <div class="clearfix"></div>
        <div class="grey-line"></div>
      </div>
      <div class="col-md-12">
        <span class="character">M</span>
      </div>
      <div class="clearfix"></div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/magazines/" class="q-tag">Magazines</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/marketing/" class="q-tag">Marketing</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/mobile/" class="q-tag">Mobile</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/movie/" class="q-tag">Movie</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/music/" class="q-tag">Music</a>
      </div>
      <div class="col-md-12">
        <div class="clearfix"></div>
        <div class="grey-line"></div>
      </div>
      <div class="col-md-12">
        <span class="character">P</span>
      </div>
      <div class="clearfix"></div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/photography/" class="q-tag">Photography</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/programmer/" class="q-tag">Programmer</a>
      </div>
      <div class="col-md-12">
        <div class="clearfix"></div>
        <div class="grey-line"></div>
      </div>
      <div class="col-md-12">
        <span class="character">S</span>
      </div>
      <div class="clearfix"></div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/science/" class="q-tag">Science</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/security/" class="q-tag">Security</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/seo/" class="q-tag">SEO</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/software/" class="q-tag">Software</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/sports/" class="q-tag">Sports</a>
      </div>
      <div class="col-md-12">
        <div class="clearfix"></div>
        <div class="grey-line"></div>
      </div>
      <div class="col-md-12">
        <span class="character">T</span>
      </div>
      <div class="clearfix"></div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/technology/" class="q-tag">Technology</a>
      </div>
      <div class="tag-item cat-item col-md-2 col-xs-2">
        <a href="http://qaengine.enginethemes.com/blog/question-category/traval/" class="q-tag">Travel</a>
      </div>
      <div class="col-md-12">
        <div class="clearfix grey-line "></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div><!-- END MAIN-TAGS-LIST -->