<div class="modal fade modal-submit-questions" id="login_register" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title modal-title-sign-in" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <form id="signin_form" class="form_modal_style">
          <label for="username">
            Username or Email					</label>
          <input type="text" class="email_user" name="username" id="username">

          <label for="password">
            Password					</label>
          <input type="password" class="password_user" id="password" name="password">
          <div class="clearfix"></div>
          <input type="submit" name="submit" value="Sign in" class="btn-submit">
          <a href="javascript:void(0)" class="link_forgot_pass">Forgot password</a>
          <div class="submit-block">
            <a href="javascript:void(0)" class="link_sign_up">Sign up here</a><span>or sign in with</span>

            <ul class="social-icon clearfix">
              <!-- google plus login -->
              <!-- twitter plus login -->
              <!-- facebook plus login -->
            </ul>
          </div>

        </form>

        <form id="signup_form" class="form_modal_style">
          <label for="username">
            Username					</label>
          <input type="text" class="name_user" name="username" id="username">

          <label for="email">
            Email					</label>
          <input type="text" class="email_user" name="email" id="email">

          <label for="password1">
            Password					</label>
          <input type="password" class="password_user_signup" id="password1" name="password">

          <label for="re_password">
            Retype Password					</label>
          <input type="password" class="repeat_password_user_signup" id="re_password" name="re_password">


          <div class="clearfix"></div>
          <div class="gg-captcha">
          </div>
          <input type="submit" name="submit" value="Sign up" class="btn-submit">
          <a href="javascript:void(0)" class="link_sign_in">Sign in</a>

          <div class="clearfix"></div>

          <p class="policy-sign-up">
            By clicking "Sign up" you indicate that you have read and agree to the <a target="_blank" href="http://qaengine.enginethemes.com/privacy/">privacy policy</a> and <a target="_blank" href="http://qaengine.enginethemes.com/term/">terms of service.</a>					</p>
        </form>

        <form id="forgotpass_form" class="form_modal_style collapse">
          <label>Enter your email here</label>
          <input type="text" class="name_user" name="email" id="email">
          <input type="submit" name="submit" value="Send" class="btn-submit">
          <a href="javascript:void(0)" class="return_link_sign_in">Sign in</a>
        </form>

      </div>
    </div>
  </div>
</div>	<!-- MODAL LOGIN / REGISTER -->
